﻿<!DOCTYPE html>
<html>
<body>

    <div style="max-width: 800px; font-family: arial, sans-serif">
        <div style="width: 80%; padding-top: 30px; margin: 0 auto;">

            <h1 style="" margin-bottom: 40px""> Your lesson has been cancelled</h1>

            <p> Hello,</p>


            <p>{{cancelString}}</p>


            <hr style="margin-bottom: 20px" />
        </div>
    </div>

</body>
</html>