<!DOCTYPE html>
<html>
<body>

<div style="max-width: 800px; font-family: arial, sans-serif">
    <div style="width: 80%; padding-top: 30px; margin: 0 auto;">

        <h1 style="margin-bottom: 40px"> Welcome to SAMii</h1>

        <p> Dear {{FullName}},</p>

       <div>
           Please rebook the lesson as current bookings payments are less than or equal to two.
       </div>

        <hr style="margin-bottom: 20px" />
    </div>
</div>

</body>
</html>