<!DOCTYPE html>
<html>
<body>

<div style="max-width: 800px; font-family: arial, sans-serif">
    <div style="width: 80%; padding-top: 30px; margin: 0 auto;">

        <h1 style="margin-bottom: 40px"> Welcome to SAMii</h1>

        <p> Hello,</p>


        <p> Thanks for signing up</p>


        <p> While we set up your account, please verify your email address so that we know it is really you.</p>


        <div style="text-align: center; padding: 40px;">
            <a href="{{ActivateUrl}}" style="text-align:center; border: 1px solid #179c49; background-color: #179c49; padding: 10px; color:white;"> Verify email address </a>
        </div>

        <hr style="margin-bottom: 20px" />
    </div>
</div>

</body>
</html>